<label for=""><strong>Search Pages</strong></label>
<br>
<button class="mdc-button mdc-button--outlined" onclick="handleSearch()" ripple-btn">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label"><span class="material-icons mdc-fab__icon">search</span></span>
</button>
<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input class="mdc-text-field__input" value="{{ query }}" id="searchterms" type="text" aria-label="Label">
</label>

<div id="page_holder" class="mt-2">

    <if condition="{{ has_result }}">
        <p>
            <strong>
                Found {{ pages.length }} page matching your search!
            </strong>
        </p>
    </if>
    <ul class="mdc-list">
        <Foreach in="pages" as="page">
            <li class="mdc-list-item" onclick="window.location.href='/{{ page }}'">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text"><i class="fas fa-link"></i> {{ page }}</span>
            </li>
        </Foreach>
    </ul>

    <if condition="{{ !has_result }}">
        <p>No results were found matching "{{ query }}"!</p>
    </if>

</div>

<script>
    function handleSearch(){
        return window.location.href = `/search?q=${Feat.getElement("#searchterms").value}`
    }
</script>