<p>
    If you require any further support then feel free to reach out to us!
    <br>
    You can do this via:
    <div class="mt-2">
        <a href="/gh" class="mdc-button mdc-button--outlined">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label"><i class="fab fa-github"></i> Github</span>    
        </a>
        <a href="//skyswift.eu" class="mdc-button mdc-button--outlined">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label"><i class="fas fa-external-link-alt"></i> Forums</span>    
        </a>
    </div>
</p>