<Include src="views/parts/header.html" />
    <a href="https://github.com/Feat-js/feat/blob/main/README.md" class="mdc-button ripple-btn">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label"><i class="fas fa-file-alt"></i> Docs</span>
    </a>

    <div class="mt-3">
        <if condition="{{ is_search === false }}">
            <Include src="{{ inner }}"/>
        </if>
        <if condition="{{ is_search === true }}">
            <Include src="/views/inner/search.html">
        </if>
    </div>

<Include src="views/parts/footer.html" />